//Footer Section
.footer-top{
    margin-left: 312px;
    .footer-widget-item{
        max-width: 306px;
        width: 306px;
        padding-right: 10px;
    }
    .company-name{
        max-width: 305px;
        width: 305px;
        .c-name{
            height: 234px;
            display: block;
            &:not(:last-child){
                border-bottom: 1px solid rgba(255, 255, 255, 0.10);
            }
            font-size: 24px;
            font-weight: 600;
            color: var(--n0);
            text-decoration: underline;
            transition: all 0.4s;
            &:hover{
                color: var(--p1);
            }
        }
    }
    .f-right-border{
        border-right: 1px solid rgba(255, 255, 255, 0.10);
    }
    .footer-menu-wrapper{
        .footer-menu{
            padding: 40px 10px 40px 254px;
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
            li{
                a{
                    transition: all 0.4s;
                    font-size: 16px;
                    &:hover{
                        color: var(--p1);
                    }
                }
            }
        }
        .scrolling-wrap{
            padding: 120px 0;
            .comm{
                display: flex;
                align-items: center;
                gap: 30px;
                .cmn-textslide{
                    a{
                        font-size: 96px;
                        font-weight: 600;
                        line-height: 120%;
                        color: var(--p900);
                    }
                }
            }
        }
    }
    @include maxQuery(1800){
        margin-left: 40px;
    }
    @include maxQuery(1399){
        .footer-menu-wrapper{
            .footer-menu{
                padding: 30px 20px 30px 20px;
                width: 100%;
                li{
                    a{
                        transition: all 0.4s;
                        font-size: 16px;
                        &:hover{
                            color: var(--p1);
                        }
                    }
                }
            }
            .scrolling-wrap{
                padding: 130px 0;
                .comm{
                    gap: 20px;
                    .cmn-textslide{
                        a{
                            font-size: 72px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    @include maxQuery(1199){
        .footer-menu-wrapper{
            .footer-menu{
                padding: 30px 20px 30px 20px;
                width: 100%;
                li{
                    a{
                        font-size: 16px;
                    }
                }
            }
            .scrolling-wrap{
                padding: 110px 0;
                .comm{
                    gap: 20px;
                    .cmn-textslide{
                        a{
                            font-size: 42px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .company-name{
            max-width: 220px;
            width: 220px;
            .c-name{
                height: 180px;
                font-size: 18px;
            }
        }
    }
    @include maxQuery(991){
        .footer-widget-item{
            max-width: 240px;
            width: 240px;
            padding-right: 10px;
            p{
                font-size: 14px;
                line-height: 26px;
            }
        }
        .footer-menu-wrapper{
            .footer-menu{
                padding: 20px 20px 20px 20px;
                width: 100%;
                flex-wrap: wrap;
                li{
                    width: calc(50% / 2);
                }
            }
            .scrolling-wrap{
                padding: 80px 0;
                .comm{
                    gap: 20px;
                    .cmn-textslide{
                        a{
                            font-size: 36px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .company-name{
            max-width: 200px;
            width: 200px;
            .c-name{
                height: 160px;
                font-size: 18px;
            }
        }
    }
    @include maxQuery(767){
        margin-left: 18px;
        .footer-inner{
            flex-wrap: wrap;
        }
        .f-right-border{
            width: 50%;
        }
        .footer-menu-wrapper{
            width: 100%;
            .footer-menu{
                border-top: 1px solid rgba(255, 255, 255, 0.10);
                padding: 20px 20px 20px 0px;
                width: 100%;
                justify-content: space-between;
                li{
                    width: initial;
                }
            }
            .scrolling-wrap{
                padding: 22px 0 30px;
            }
        }
    }
    @include maxQuery(450){
        .f-right-border{
            width: 100%;
        }
        .footer-menu{
            justify-content: center !important;
        }
        .footer-widget-item,
        .company-name{
            max-width: 100%;
            width: 100% !important;
            text-align: center;
            .c-name{
                height: 100px;
            }
        }
        .footer-widget-item{
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
            padding: 40px 0;
        }
    }
}
.footer-bottom{
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    .footer-bottom-wrapper{
        p{
            a{
                text-decoration: underline;
                &:hover{
                    color: var(--p1);
                }
            }
        }
        .footer-bottom-social{
            li{
                a{
                    i{
                        color: var(--n0);
                        font-size: 18px;
                        transition: all 0.4s;
                        &:hover{
                            color: var(--p1);
                        }
                    }
                }
            }
        }
    }
}
//Footer Section

//Together Section
.together-initial{
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    padding: 120px 10px 120px;
    position: relative;
    z-index: 1;
    .softivus-text{
        font-size: 380px;
        font-weight: 800;
        line-height: 120%;
        opacity: 0.1;
        background: linear-gradient(180deg, #FFF -3.62%, rgba(153, 153, 153, 0.00) 72.53%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top: -95px;
        left: 0;
        width: 100%;
        z-index: -1;
    }
    .together-content{
        h1{
            .title-inner{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                .titles{
                    font-size: 150px;
                    font-weight: 600;
                    color: var(--n0);
                    line-height: 110%;
                    font-family: var(--body-font);
                }
                p{
                    max-width: 283px;
                    font-size: 16px;
                    line-height: 150%;
                    color: var(--n0);
                }
            }
        }
    }
    @include maxQuery(1399){
        .softivus-text{
            font-size: 200px;
            line-height: 120%;
            opacity: 0.3;
            top: -45px;
            left: 0;
            text-align: center;
        }
    }
    @include maxQuery(991){
        padding: 100px 10px 90px;
        .softivus-text{
            font-size: 150px;
            line-height: 120%;
            opacity: 0.3;
            top: -35px;
            left: 0;
            text-align: center;
        }
        .together-content{
            h1{
                .title-inner{
                    gap: 20px;
                    .titles{
                        font-size: 80px;
                        font-weight: 600;
                        line-height: 110%;
                    }
                    p{
                        max-width: 283px;
                        font-size: 14px;
                        line-height: 150%;
                    }
                }
            }
        }
    }
    @include maxQuery(767){
        padding: 80px 10px 70px;
        .softivus-text{
            font-size: 100px;
            line-height: 120%;
            opacity: 0.4;
            top: -15px;
            left: 0;
            text-align: center;
        }
        .together-content{
            h1{
                .title-inner{
                    gap: 20px;
                    .titles{
                        font-size: 50px;
                        font-weight: 600;
                        line-height: 150%;
                    }
                    p{
                        max-width: 283px;
                        font-size: 14px;
                        line-height: 150%;
                    }
                }
            }
        }
    }
    @include maxQuery(575){
        padding: 60px 10px 50px;
        .softivus-text{
            font-size: 64px;
            line-height: 120%;
            opacity: 0.5;
            top: -10px;
            left: 0;
            text-align: center;
        }
        .together-content{
            h1{
                .title-inner{
                    gap: 20px;
                    flex-wrap: wrap;
                    text-align: center;
                    .titles{
                        font-size: 38px;
                        font-weight: 600;
                        line-height: 150%;
                    }
                    p{
                        max-width: 283px;
                        font-size: 14px;
                        line-height: 150%;
                    }
                }
            }
        }
    }
}
//Together Section