//Hero Style Scss
.hero-section{
    background: #04001F;
    padding: 170px 0 120px;
    z-index: 1;
    .hero-content{
        .hero-sub{
            padding-left: 11px;
            border-left: 2px solid var(--p1);
        }
        h1{
            font-size: 88px;
            font-weight: 700;
            line-height: 120%;
            text-transform: uppercase;
            font-family: var(--heading-font);
        }
        h2{
            font-family: var(--sub-font);
        }
        .hero-btn-area{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .p1-storke{
            border: 1px solid var(--p1);
        }
    }
    .hero-ele-bg{
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        height: 100%;
    }
    .her-thumb-wrap{
        z-index: 1;
        .thumb{
            max-width: 715px;
            width: 100%;
            margin: 0 auto;
        }
        .social-circle{
            width: 840px;
            position: absolute;
            animation: cirscle 30s linear infinite;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img{
                width: 100%;
                height: 100%;
            }
        }
        .hero-rocket{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 400px;
            animation: cusdown 3s linear infinite;
            img{
                width: 100%;
            }
        }
    }
    @include maxQuery(1399){
        .hero-content{
            .hero-sub{
                padding-left: 8px;
                border-left: 1px solid var(--p1);
            }
            h1{
                font-size: 70px;
                font-weight: 700;
                line-height: 120%;
            }
            h2{
                font-size: 34px;
            }
            .hero-btn-area{
                display: flex;
                gap: 16px;
            }
        }
        .her-thumb-wrap{
            .social-circle{
                width: 600px;
            }
            .thumb{
                max-width: 715px;
                width: 100%;
                margin: 0 auto;
            }
            .hero-rocket{
                max-width: 320px;
                img{
                    width: 100%;
                }
            }
        }
    }
    @include maxQuery(1199){
        .hero-content{
            .hero-sub{
                padding-left: 8px;
                border-left: 1px solid var(--p1);
            }
            h1{
                font-size: 59px;
                font-weight: 700;
                line-height: 120%;
            }
            h2{
                font-size: 28px;
            }
            .hero-btn-area{
                display: flex;
                gap: 16px;
            }
        }
        .her-thumb-wrap{
            .social-circle{
                width: 600px;
            }
            .thumb{
                max-width: 715px;
                width: 100%;
                margin: 0 auto;
            }
            .hero-rocket{
                max-width: 320px;
                img{
                    width: 100%;
                }
            }
        }
    }
    @include maxQuery(575){
        .hero-content{
            .hero-sub{
                padding-left: 0px;
                border-left: unset;
            }
            h1{
                font-size: 48px;
                font-weight: 700;
                line-height: 120%;
            }
            h2{
                font-size: 18px;
            }
            .hero-btn-area{
                display: flex;
                gap: 16px;
                flex-wrap: wrap;
            }
        }
        .her-thumb-wrap{
            .social-circle{
                width: 350px;
            }
            .thumb{
                max-width: 715px;
                width: 100%;
                margin: 0 auto;
            }
            .hero-rocket{
                max-width: 190px;
                img{
                    width: 100%;
                }
            }
        }
    }
}
@keyframes cusdown {
    50%{
        transform: translate(-50%, -50%) translateY(-10px);
    }
}
@keyframes cirscle {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.textcircle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: var(--n0);
    .texta {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }
    .circle-arrow{
        z-index: 9;
        i{
            font-size: 38px;
            color: var(--n900);
        }
    }
    &.style2{
        border: 1px solid var(--p1);
        .texta{
            span{
                color: var(--p1);
            }
        }
        .circle-border-area{
            border: 1px solid var(--p1);
            width: 127px;
            height: 127px;
            .circle-arrow{
                width: 62px;
                height: 62px;
                border-radius: 50%;
                background: linear-gradient(270deg, #5034FA 0%, #FF825C 100%);
                z-index: 1;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.4s;
                i{
                    color: var(--n0);
                    font-size: 28px;
                }
                &:hover{
                    transform: translate(-50%, -50%) rotate(180deg);
                }
            }
        }
    }
}
//Hero Style Scss
           

.text-container {
    .text {
        display: inline-block;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
}

//breadcrumnd banner
.banner-breadcrumnd{    
    background: url(../../assets/images/template/bg-2-1.png) no-repeat center;
    background-size: cover;
    padding: 150px 0 100px;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .breadcrumnd-content{
        position: relative;
        z-index: 1;
        .breadcrumnd-list{
            li,a{
                color: var(--pp-clr);
                i{
                    color: var(--pp-clr);
                }
            }
        }
    }
    &.style2{
        p{
            max-width: 550px;
        }
        .product-plugin{
            border-radius: 15px;
            position: relative;
            z-index: 1;
            max-width: 140px;
            img{
                width: 100%;
                border-radius: 15px;
            }
        }
    }
    @include maxQuery(991){
        padding: 140px 0 80px;
    }
    @include maxQuery(767){
        padding: 140px 0 0px;
    }
}