
// Choose Section
.choose-items{
    .icon{
        @include box(80);
        margin: 0 auto 28px;
        transition: all 0.4s;
        img{
            transition: all 0.5s;
        }
    }
    .content{
        h5{
            a{
                font-size: 20px !important;
            }
        }
    }
    &.choose-v01{
        background: var(--bg4);
        .icon{
            background: var(--p100);
        }
    }
    &.choose-v02{
        background: var(--bg2);
        .icon{
            background: var(--p200);
        }
    }
    &.choose-v03{
        background: var(--bg3);
        .icon{
            background: var(--p300);
        }
    }
    &.choose-v04{
        background: var(--bg1);
        .icon{
            background: var(--p400);
        }
    }
    &.choose-v05{
        background: var(--bg7);
        .icon{
            background: var(--p500);
        }
    }
    &.choose-v06{
        background: var(--bg5);
        .icon{
            background: var(--p600);
        }
    }
    &.choose-v07{
        background: var(--bg8);
        .icon{
            background: var(--p700);
        }
    }
    &.choose-v08{
        background: var(--bg6);
        .icon{
            background: var(--p800);
        }
    }
    &:hover{
        h5{
            a{
                color: var(--p100);
            }
        }
        .icon{
            background: var(--n0);
            svg{
                path{
                    fill: var(--n900);
                }
            }
            img{
                filter: brightness(0);
            }
        }
    }
}
// Choose Section

// Faq Section
.faq-leftbox{
    background: var(--n0);
    border-radius: 32px;
    .thumb{
        margin: 0 auto;
        text-align: center;
        .faq-element{
            position: absolute;
            right: 40px;
            top: -25px;
            animation: updown 2s linear infinite;
        }
    }
}
//Faq Section
.faq {
    background: var(--n0);
    border-radius: 32px;
    .header-area {
        cursor: pointer;
        button {
            font-size: 24px;
            font-weight: 600;
            font-family: var(--body-font);
            transition: all 0.4s;
            color: var(--n50);
            @include maxQuery(1199) {
                padding-right: 16%;
            }
            &::before, &::after {
                position: absolute;
                z-index: 1;
                right: 0;
                border-radius: 5px;
                font-size: 24px;
            }
            &::before {
                content: "";
                transition: var(--transition);
            }
            &::after {
                font-family: "Font Awesome 5 Free";
                content: "\2b";
                transition: var(--transition);
                font-weight: 600;
                color: var(--n900);
            }
        }
    }
    .content-area {
        display: none;
        .content-body{
            padding-top: 16px;
          p{
            font-size: 16px;
            font-weight: 400;
          }
        }
    }
    .active button {
        &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f068";
            color: var(--p1);
        }
  
        &::before {
            background-color: var(--n0);
            color: var(--p1) !important;
        }
    }
    .accordion-single{
      transition: all 0.5s;
      border-radius: 16px;
        background: var(--n0);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
        padding: 20px 20px;
        &.active{
            background: #ECECFF;
            button{
                color: var(--900);
            }
        }
    }
    @include maxQuery(1199){
        .header-area {
            button {
                font-size: 18px;
            }
        }
    }
  }
// Faq Section

// Blog Section
.blog-section{
    .horizontal-content-wrapper{
        gap: 30px;
        @include maxQuery(991){
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
            .thumb{
                max-width: 100%;
                img{
                    width: 100%;
                }
            }
        }
        @include maxQuery(480){
            grid-template-columns: repeat(1, 1fr);
            gap: 32px;
        }
        .horizontal-item {
            padding: 100px 0;
            @include maxQuery(991){
                padding: 0;
            }
        }
        @include maxQuery(1199){
            gap: 16px;
        }
    }
    .section-title{
        @include minQuery(992){
            margin-bottom: -50px;
        }
        @include maxQuery(991){
            margin-bottom: 40px;
        }
    }
}
.blog-items{
    .thumb{
        border-radius: 16px;
        img{
            border-radius: 16px;
        }
    }
    .content{
        .blog-date{
            border-bottom: 1px solid rgba(0, 0, 0, 0.10);
        }
    }
    &:hover{
        .content{
            h5{
                a{
                    color: var(--p1);
                    text-decoration: underline;
                }
            }
        }
    }
}
// Blog Section

// Customer Review Section
.customer-review{
    .section-title{
        p{
            max-width: 438px;
        }
    }
}
.customer-items{
    border-radius: 16px;
    .ratting{
        i{
            color: var(--ratting);
            font-size: 18px;
        }
    }
    p{
        border-bottom: 1px solid var(--cmn-border);
    }
}
// Customer Review Section

// Working Section
.working-section{
    background: var(--n900);
}
.working-head{
    .choose-badge{
        border-color: var(--n0);
        color: var(--n0);
    }
    p{
       color: rgba(255, 255, 255, 0.80);
       font-family: var(--body-font);
       max-width: 356px;
    }
}
.working-item{
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    .working-list{
        i{
            background: rgba(255, 255, 255, 10%);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--n0);
            width: 24px;
            height: 24px;
            padding: 2px;
            font-size: 12px;
        }
    }
    .work-serial{
        font-size: 88px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
        opacity: 0.1;
        color: var(--n0);
    }
}
// Working Section

// Template Section
.template-responsive{
    border-radius: 100px;
    border: 1px solid rgba(16, 16, 16, 0.10);
    background: #F8F8F8;
    .nav-links{
        width: initial !important;
    }
}
.template-items{
    &.tilt{
        background: var(--box-bg);
    }
    .thumb{
        position: relative;
        .click-arrow{
            @include box(44);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.5s;
            visibility: hidden;
            opacity: 0;
            z-index: 1;
            i{
                color: var(--n0);
                font-size: 18px;
            }
            &::before{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                content: "";
                @include box(0);
                border: 1px solid var(--p1);
                border-radius: 50%;
                z-index: -1;
                transition: all 0.4s;
            }
            &:hover{
                &::before{
                    @include box(62);
                }
            }
        }
    }
    .plugin-social{
        position: absolute;
        right: 12px;
        top: 12px;
        .icons{
            position: relative;
            background: #e2dbff;
            border-radius: 5px;
            border: 1px solid  var(--n0);
            width: 37px;
            height: 37px;
            transition: all 0.4s;
            box-shadow: rgba(100, 100, 111, 0.426) 0px 7px 29px 0px;
            img{
                width: 20px;
                object-fit: contain;
            }
            .plugin-text{
                background: var(--p1);
                font-size: 12px;
                color: var(--n0);
                border-radius: 4px;
                padding: 4px 16px;
                text-align: center;
                position: absolute;
                display: block;
                width: initial;
                text-wrap: nowrap;
                top: -38px;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s;
                z-index: 1;
                &::before{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -14px;
                    background: var(--p1);
                    content: "";
                    width: 16px;
                    height: 16px;
                    clip-path: polygon(53% 46%, 0 0, 100% 0);
                }
            }
            &:hover{
                border-color:  var(--p1);
                .plugin-text{
                    top: -30px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .content{
        .tem-info{
            img{
                width: 32px;
            }
            .tem-name{
                font-size: 20px;
                span{
                    font-size: 14px;
                }
            }
        }
        .price{
            font-size: 20px;
            font-weight: 700;
            line-height: 130%;
            background: linear-gradient(90deg, #5034FA -1.81%, #FF825C 99.67%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .cate-purchase{
            img{
                width: 16px;
            }
        }
        .purchase-btn{
            border-radius: 4px;
            color: var(--p1);
            z-index: 1;
            svg{
                path{
                    stroke: var(--p1);
                }
            }
        }
        h5,a{
            transition: all 0.4s;
        }
    }
    .dropdown{
        .dropdown-menu{
            background: var(--n0);
            border-radius: 5px;
            border: 1px solid var(--cmn-border);
            padding: 14px;
            width: 316px;
            box-shadow: rgba(149, 157, 165, 0.485) 0px 8px 24px;
        }
        .dropdown-menu.show{
            inset: auto 0 0 auto !important;
        }
        .pur-two{
            display: none;
        }
        .purchase-btn.show{
            .pur-two{
                display: block;
            }
            .pur-one{
                display: none;
            }
        }
    }
    .purchase-btn{
        background: var(--p1);
        border-radius: 100px !important;
        padding: 6px 12px 7px;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        gap: 3px;
        span{
            font-size: 14px;
            color: var(--n0);
        }
        svg{
            width: 14px;
            path{
                stroke: var(--n0);
                fill: var(--n0);
            }
        }
    }
    .envato-price-info{
        display: block;
        svg{
            path{
                stroke: var(--p1);
                fill: var(--p1);
            }
        }
    }
    &:hover{
        .thumb{
            .click-arrow{
                visibility: visible;
                opacity: 1;
            }
        }
        .content{
            h5,a{
                color: var(--p1);
            }
        }
    }
    @include maxQuery(1399){
        .thumb{
            .click-arrow{
                @include box(38);
                i{
                    color: var(--n0);
                    font-size: 16px;
                }
            }
        }
    }
    @include maxQuery(1366){
        .content{
            .tem-info{
                img{
                    width: 31px;
                }
                .tem-name{
                    font-size: 18px;
                    span{
                        font-size: 12px;
                    }
                }
            }
            .price{
                font-size: 17px;
            }
        }
    }
    @include maxQuery(1199){
        .dropdown{
            .dropdown-menu{
                padding: 14px;
                width: 290px;
            }
            .dropdown-menu.show{
                inset: auto 0 0 auto !important;
            }
        }
    }
}
// Template Section

// Explore Section
.plugin-explore{
    gap: 10px 30px;
    .plugin-item{
        img{
            width: 30px;
            object-fit: contain;
            border-radius: 4px;
        }
    }
    @include maxQuery(991){
        .plugin-item{
            img{
                width: 26px;
            }
            font-size: 14px;
        } 
    }
}
.explore-template-section{
    .cmn-btn{
        @include maxQuery(1199){
            padding: 8px 16px;
        }
    }
}
.explore-wrapper{
    position: relative;
    .plugin-social{
        top: 32px;
        right: 32px;
    }
    .big-price{
        @include box(120);
        font-size: 36px;
        font-weight: 300;
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 1;
        animation: updown 2s linear infinite;
        &.tilt{
            border-radius: 50%;
        }
        @include maxQuery(767){
            @include box(80);
            font-size: 22px;
        }
        @include maxQuery(500){
            @include box(60);
            font-size: 15px;
        }
    }
    .swiper-button-nextteam04,
    .swiper-button-prevteam04{
        position: absolute;
        @include box(44);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        @include maxQuery(991){
            @include box(32);
            i{
                font-size: 15px;
            }
        }
    }
    .swiper-button-prevteam04{
        left: 10px;
            i{
                color: var(--pp-clr);
            }
    }
    .swiper-button-nextteam04{
        right: 10px;
        i{
            color: var(--pp-clr);
        }
    }
}
// Explore Section

// Efficient Section
.efficient-wrapper{
    display: flex;
    justify-content: center;
   .efficient-item{
    position: relative;
    width: 15%;
    z-index: 1;
    .octagon-shape{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        z-index: -1;
    }
   }
   .odometer-digit-inner{
        left: initial !important;
   }
   @include maxQuery(991){
    flex-wrap: wrap;
    .efficient-item{
       width: calc(90% / 3);
       margin: 70px 0;
    }
   }
   @include maxQuery(575){
    flex-wrap: wrap;
    .efficient-item{
       width: calc(90% / 3);
       margin: 30px 0;
    }
   }
   @include maxQuery(480){
    flex-wrap: wrap;
    .efficient-item{
       width: calc(90% / 2);
       margin: 60px 0;
    }
   }
}
.achevment-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    .achevment-item{
        display: flex;
        align-items: center;
        gap: 24px;
        border: 1px solid var(--cmn-border);
        border-radius: 10px;
        padding: 24px 32px;
        background: var(--n0);
        .achevment-logo{
            width: 50px;
        }
        .envato-logo{
            width: 140px;
        }
    }
    @include maxQuery(991){
        gap: 14px;
    }
    @include maxQuery(991){
        .achevment-item{
            gap: 14px;
            padding: 16px 20px;
            .achevment-logo{
                width: 50px;
            }
            .envato-logo{
                width: 100px;
            }
        }
    }
}
// Efficient Section

// Product Section
.product-side-panel{
    .product-inner{
        background: var(--n0);
        border-right: 1px solid var(--cmn-border);
        padding-right: 20px;
        .filter-add{
           form{
            display: flex;
            align-items: center;
            border: 1px solid var(--cmn-border);
            border-radius: 4px;
            input{
                width: 100%;
                outline: none;
                border: unset;
                padding: 8px 8px;
                font-size: 14px;
            }
            ::placeholder{
                font-size: 14px;
            }
            i{
                color: var(--pp-clr);
                padding-right: 8px;
                font-size: 14px;
            }
           } 
        }
        .product-box{
            .product-item-list{
                li{
                    a{
                        img{
                            width: 26px;
                        }
                        transition: all 0.4s;
                        &:hover{
                            color: var(--p1);
                            padding-left: 4px;
                        }
                    }
                }
            }
        }
    }
}
.product-right-pannel{
    .tabItem{
        display: none;
        &.active{
            display: block;
        }
    } 
    .template-head{
        li{
            button{
                color: var(--pp-clr) !important;
                opacity: 0.5;
            }
            .filter{
                opacity: 1;
            }
            &.active{
                button{
                    background: transparent;
                    opacity: 1;
                }
                .filter{
                    color: var(--p1) !important;
                }
            }
        }
    }
}

.subside-barmenu {
	@include maxQuery(991){
        width: 290px;
        height: 100%;
        position: fixed;
        z-index: 99999;
        background: #000;
        left: -320px;
        top: 0;
        transition: all 0.4s;
        overflow-y: scroll;
        .product-inner{
            padding: 24px;
        }
	.remove-click {
		&:hover {
			cursor: pointer;
		}
		i {
			font-size: 22px;
			color: var(--p1);
		}
	}
    &.active{
        left: 0;
    }
    }
}
.product-icon{
    width: 44px;
    height: 44px;
    border: 1px solid var(--cmn-border);
    svg{
        width: 24px;
        height: 24px;
        path{
            stroke: var(--pp-clr); 
        }
    }
}
// Product Section

// Product Details Section
.custom-bgadding{
    background: url(../../assets/images/icon/element-bg.png) no-repeat center center;
    background-size: cover;
    z-index: 1;
    .element-addingn{
        position: absolute;
        bottom: -500px;
        left: 0;
        z-index: -1;
    }
    &.style-hire{
        .hire-us{
            width: 220px;
        }
    }
}
.product-detais-right{
    .product-detais-inner{
        background: var(--n0);
        border-radius: 5px;
        .product-details-item{
            .tem-info{
                img{
                    width: 40px;
                }
            }
            .tags{
                li{
                    a{
                        font-size: 14px;
                        font-weight: 400;
                        color: var(--n00);
                        background: #f6f6f6;
                        padding: 6px 16px;
                        border-radius: 5px;
                        text-align: center;
                        display: inline-block;
                        transition: all 0.4s;
                        text-transform: capitalize;
                        &:hover{
                            color: var(--n0);
                            background: var(--p1);
                        }
                    }
                }
            }
        }
    }
}
// Product Details Section

// Use This Section
.use-this-item{
    border: 1px solid var(--cmn-border);
    border-radius: 10px;
    padding: 32px 24px;
    background: var(--n0);
    transition: all 0.4s;
    height: 100%;
    img{
        width: 49px;
    }
    &:hover{
        border-color: var(--p1);
    }
}
// Use This Section

// Hire Us Section
.hire-item{
    input,textarea{
        width: 100%;
        border-radius: 10px;
        border: unset;
        border: 1px solid var(--cmn-border);
        outline: none;
        background: var(--n0);
        font-size: 14px;
        padding: 10px 20px 12px;
    }   
    .nice-select{
        width: 100%;
        border-radius: 10px;
        border: unset;
        border: 1px solid var(--cmn-border);
        outline: none;
        background: var(--n0);
        font-size: 14px;
        padding: 14px 20px;
        .current{
            color: var(--pp-clr);
            font-size: 14px;
        }
        &::after{
            border-color: var(--pp-clr);
        }
        .list{
            background: var(--n0);
        }
    }
    .choose-file{
       color: var(--pp-clr);
    }
    ::placeholder{
        color: var(--pp-clr);
        font-size: 14px;
    }    
}
// Hire Us Section

// Project mind Section
.project-mind-left{
    @include maxQuery(1199){
        img{
            width: 180px;
        }
    }
    @include maxQuery(991){
        img{
            width: 120px;
        }
    }
}
.project-mind-right{
    .fs-five{
        line-height: 26px;
    }
}
// Project mind Section

// About Section
.digital-future-content{
    .call-icon-area{
        .icon{
            width: 56px;
            height: 56px;
        }
    }
}
// About Section

